attrs==23.2.0
certifi==2023.11.17
configparser==7.1.0
jsonpointer==2.1
langchain==0.1.13
langsmith==0.1.104
orjson==3.9.15
outcome==1.3.0.post0
pydantic==2.3.0
pydantic_core==2.6.3
pynput==1.7.7
pyperclip==1.9.0
pytweening==1.2.0
rich==13.7.1
selenium==4.20.0
simplejson==3.19.3
sniffio==1.3.1
trio==0.25.0
typing_extensions==4.11.0
wcwidth==0.2.13